#top-bar {
    background: transparent url("images/top-bar.png");
    height: 29px;
    margin-top: 0%;
    margin-left: 37%;
}
#logo {
    background: transparent url("images/logo.png");
    height: 330px;
    margin-left: 180px;
    background-repeat: no-repeat;
}
#mid-bar {
    background: transparent url("images/mid-bar.png");
    height: 70px;
    width: 650px;
    margin-top: 5%;
    margin-left: 180px;
}
#bottom-bar {
    background: transparent url("images/bottom-bar.png");
    margin-top: 28%;
    height: 300px;
    width: 100%;
    margin-left: 15%;
    background-repeat: no-repeat;
}